### Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#from sklearn.

### Import Data

In [3]:
Loandf = pd.read_csv("LoanPrediction.csv")
Loandf.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

### Exploratory Data Analysis

###### Cari unique value -> drop variabel yang ga penting

In [4]:
Loandf.shape

(614, 13)

In [5]:
Loandf.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

##### semua value pada Loan_ID unik -> bisa drop Loan_ID

In [6]:
Loandf = Loandf.drop("Loan_ID", axis = 1)

In [7]:
Loandf.isna().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
Loandf['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [9]:
Loandf['Gender'] = Loandf['Gender'].replace(np.nan, 'Male')

In [10]:
Loandf['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [11]:
Loandf['Married'] = Loandf['Married'].replace(np.nan, 'Yes')

In [12]:
Loandf['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [13]:
Loandf['Dependents'] = Loandf['Dependents'].replace(np.nan, '0')

In [14]:
Loandf['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [15]:
Loandf['Self_Employed'] = Loandf['Self_Employed'].replace(np.nan, 'No')

In [16]:
Loandf['LoanAmount'].value_counts()

120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [17]:
Loandf['LoanAmount'] = Loandf['LoanAmount'].replace(np.nan, '120.0')

In [18]:
Loandf['Loan_Amount_Term'].value_counts()

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

In [19]:
Loandf['Loan_Amount_Term'] = Loandf['Loan_Amount_Term'].replace(np.nan, '360.0')

In [20]:
Loandf['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [21]:
Loandf['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [25]:
Loandf['Credit_History'] = Loandf['Credit_History'].replace(np.nan, '1.0')

In [24]:
Loandf['Credit_History'].value_counts()

1.0    475
0.0     89
1.0     50
Name: Credit_History, dtype: int64

In [23]:
df1 = Loandf[Loandf.isna().any(axis=1)]
df1

Empty DataFrame
Columns: [Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

#### Check Dimension

#### Cleaning Data

#### Univariate Analysis

#### Bivariate Analysis

#### Check Correlation

#### Check Normality

#### Check Outlier

#### Building Model

### Feature Engineering

#### Handling Outliers

### Training Models

### Evaluate Models